# Dependency directories
node_modules/
packages/

# Environment files (commented for the time being since there's no API keys, to ease demos)
# .env
# .env.local
# .env.*.local
# .env.development
# .env.test
# .env.production

# Build Production output
/dist/
/.vite/
/*.zip
/*.tgz

# IDE/Editor specific and misc files
.vscode/
.DS_Store
npmrc
TODO.txt

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.lock
yarn-lock.json
package-lock.json

# Testing
/coverage